In [109]:
import pandas as pd
import dateutil

# Load data from csv file
data = pd.read_csv('./phone_data.csv')
df = pd.DataFrame(data)
# Convert date from string to date times
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)
data

     index                date  duration  item    month   network network_type
0        0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1        1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2        2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3        3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4        4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile
..     ...                 ...       ...   ...      ...       ...          ...
825    825 2015-03-13 00:38:00     1.000   sms  2015-03     world        world
826    826 2015-03-13 00:39:00     1.000   sms  2015-03  Vodafone       mobile
827    827 2015-03-13 06:58:00    34.429  data  2015-03      data         data
828    828 2015-03-14 00:13:00     1.000   sms  2015-03     world        world
829    829 2015-03-14 00:16:00     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [89]:
print("1.Rows of data variable",len(data) + 1)

1.Rows of data variable 831

In [88]:
call = df.loc[df['item'] == "call"]
print("2.The duration of the longest call ",max(call['duration']))

2.The duration of the longest call  10528.0

In [87]:
print("4. The total duration of calls of each month: ",end="\n\n")
call.groupby(['month'])['duration'].sum()

The total duration of calls of each month:

month
2014-11    25547.0
2014-12    13561.0
2015-01    17070.0
2015-02    14416.0
2015-03    21727.0
Name: duration, dtype: float64

In [86]:
print("5. Total duration of the calls to each network: ",end="\n\n")
call.groupby(['network'])['duration'].sum()

Total duration of the calls to each network:

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [111]:
print("6. Calls (call), SMSs (sms) and records (data) there were each month: ")
for name,group in df.groupby(['month']):
  print(name)
  print(group['item'].value_counts())

6. Calls (call), SMSs (sms) and records (data) there were each month:
2014-11
call    107
sms      94
data     29
Name: item, dtype: int64
2014-12
call    79
sms     48
data    30
Name: item, dtype: int64
2015-01
call    88
sms     86
data    31
Name: item, dtype: int64
2015-02
call    67
sms     39
data    31
Name: item, dtype: int64
2015-03
call    47
data    29
sms     25
Name: item, dtype: int64

In [81]:
print("Total duration of the calls: ",call['duration'].sum())
print("Average durations of the calls: ",call['duration'].mean())
print("Number of connections: ",call['duration'].count(),end="\n\n")

for name,group in call.groupby(['month']):
  print("Month: ",name,end="\n\n")
  print("First date in month column:", group['date'].min())
  print("Last date in month column: ",group['date'].max())
  df['A'] = group['date'].min()
  df['B'] = group['date'].max()
  df['C'] = df['B'] - df['A']
  print("Difference between first and last date: ",df['C'][0],end="\n\n")

Total duration of the calls:  92321.0
Average durations of the calls:  237.94072164948454
Number of connections:  388

Month:  2014-11

First date in month column: 2014-10-15 06:58:00
Last date in month column:  2014-11-12 19:01:00
Difference between first and last date:  28 days 12:03:00

Month:  2014-12

First date in month column: 2014-11-14 17:24:00
Last date in month column:  2014-12-14 19:54:00
Difference between first and last date:  30 days 02:30:00

Month:  2015-01

First date in month column: 2014-12-15 20:03:00
Last date in month column:  2015-01-14 20:47:00
Difference between first and last date:  30 days 00:44:00

Month:  2015-02

First date in month column: 2015-01-15 10:36:00
Last date in month column:  2015-02-09 17:54:00
Difference between first and last date:  25 days 07:18:00

Month:  2015-03

First date in month column: 2015-02-12 20:15:00
Last date in month column:  2015-03-04 12:29:00
Difference between first and last date:  19 days 16:14:00